In [1]:
import pandas as pd

In [34]:
places_df_og = pd.read_csv(r'C:\Users\14122\OneDrive\Desktop\cvs_heath_project\data\raw\PLACES__Local_Data_for_Better_Health,_County_Data_2024_release_20251204.csv')

C:\Users\14122\AppData\Local\Temp\ipykernel_7368\1606218271.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  places_df_og = pd.read_csv(r'C:\Users\14122\OneDrive\Desktop\cvs_heath_project\data\raw\PLACES__Local_Data_for_Better_Health,_County_Data_2024_release_20251204.csv')

In [40]:
places_df_og.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
0,2022,AL,Alabama,Clay,BRFSS,Health Outcomes,Current asthma among adults,%,Crude prevalence,11.0,...,9.6,12.4,"14,198","11,235",1027,HLTHOUT,CASTHMA,CrdPrv,Current Asthma,POINT (-85.8606604130173 33.2693085517833)
1,2022,AL,Alabama,Dale,BRFSS,Health Outcomes,Arthritis among adults,%,Crude prevalence,35.6,...,34.8,36.4,"49,544","38,039",1045,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis,POINT (-85.6109266826185 31.4316629601359)
2,2022,AL,Alabama,Jackson,BRFSS,Health Outcomes,Stroke among adults,%,Crude prevalence,5.1,...,4.6,5.6,"52,891","42,087",1071,HLTHOUT,STROKE,CrdPrv,Stroke,POINT (-85.9995052603961 34.7796392771775)
3,2022,AL,Alabama,Lauderdale,BRFSS,Health Outcomes,Obesity among adults,%,Age-adjusted prevalence,36.5,...,29.6,43.9,"95,878","77,472",1077,HLTHOUT,OBESITY,AgeAdjPrv,Obesity,POINT (-87.6540983850983 34.9014438477101)
4,2022,AL,Alabama,Lawrence,BRFSS,Disability,Any disability among adults,%,Crude prevalence,40.1,...,35.5,44.7,"33,214","26,022",1079,DISABLT,DISABILITY,CrdPrv,Any Disability,POINT (-87.3108851040374 34.5216735395968)

In [43]:
places = places_df_og[places_df_og["Data_Value_Type"] == "Crude Prevalence"]

In [46]:
places_df_og["Data_Value_Type"].unique()

array(['Crude prevalence', 'Age-adjusted prevalence'], dtype=object)

In [47]:
places_df = places_df_og[places_df_og["Data_Value_Type"] == "Crude prevalence"]

In [54]:
places_df.head(20)

,StateAbbr,LocationName,Category,Short_Question_Text,Data_Value,Geolocation
0,AL,CLAY,Health Outcomes,Current Asthma,11.0,POINT (-85.8606604130173 33.2693085517833)
1,AL,DALE,Health Outcomes,Arthritis,35.6,POINT (-85.6109266826185 31.4316629601359)
2,AL,JACKSON,Health Outcomes,Stroke,5.1,POINT (-85.9995052603961 34.7796392771775)
4,AL,LAWRENCE,Disability,Any Disability,40.1,POINT (-87.3108851040374 34.5216735395968)
6,AL,LEE,Health Outcomes,Stroke,3.3,POINT (-85.3550362108983 32.601254498925)
10,AL,PICKENS,Health Outcomes,Arthritis,37.1,POINT (-88.0891310718596 33.2807870081005)
11,AK,DILLINGHAM,Health Outcomes,Obesity,37.3,POINT (-158.236178154164 59.7978171220014)
12,AK,HAINES,Health Outcomes,Arthritis,27.3,POINT (-135.500167586106 59.119335495324)
14,AZ,YUMA,Health Outcomes,Arthritis,26.4,POINT (-113.905997385394 32.7694427722845)
15,AR,BAXTER,Health Outcomes,Diabetes,16.8,POINT (-92.3369593879758 36.2869936509323)
16,AR,BENTON,Health Outcomes,Stroke,2.9,POINT (-94.2558310001198 36.3389781548829)
17,AR,CHICOT,Health Outcomes,Depression,23.1,POINT (-91.2933505574654 33.2667470395332)
19,AR,COLUMBIA,Health Outcomes,Stroke,4.5,POINT (-93.2275288321248 33.2144070346383)
20,AR,CROSS,Disability,Any Disability,41.9,POINT (-90.7714945147511 35.2958747021642)
22,AR,DREW,Disability,Cognitive Disability,18.8,POINT (-91.7196579038053 33.5894113647675)
23,AR,FRANKLIN,Health Status,Frequent Mental Distress,21.0,POINT (-93.8905515046839 35.5124401293152)
24,AR,LITTLE RIVER,Health Outcomes,Stroke,4.7,POINT (-94.2341214453394 33.7020296690166)
25,AR,LOGAN,Health Outcomes,Stroke,5.0,POINT (-93.7171626255792 35.2148866321463)
26,AR,MONTGOMERY,Health Outcomes,Stroke,5.7,POINT (-93.6594929570876 34.5391664075576)
27,AR,OUACHITA,Health Outcomes,All Teeth Lost,25.8,POINT (-92.882040791321 33.593253927504)

In [49]:
#keep only crude prevalence rows
#next remove unneeded columns
places_df = places_df[[
    "StateAbbr",
    "LocationName",
    "Category",
    "Short_Question_Text",
    "Data_Value",
    "Geolocation"
]]

In [51]:
places_df.head()

,StateAbbr,LocationName,Category,Short_Question_Text,Data_Value,Geolocation
0,AL,Clay,Health Outcomes,Current Asthma,11.0,POINT (-85.8606604130173 33.2693085517833)
1,AL,Dale,Health Outcomes,Arthritis,35.6,POINT (-85.6109266826185 31.4316629601359)
2,AL,Jackson,Health Outcomes,Stroke,5.1,POINT (-85.9995052603961 34.7796392771775)
4,AL,Lawrence,Disability,Any Disability,40.1,POINT (-87.3108851040374 34.5216735395968)
6,AL,Lee,Health Outcomes,Stroke,3.3,POINT (-85.3550362108983 32.601254498925)

In [52]:
places_df["StateAbbr"] = places_df["StateAbbr"].str.upper().str.strip()
places_df["LocationName"] = places_df["LocationName"].str.upper().str.strip()

In [53]:
places_df.head()

,StateAbbr,LocationName,Category,Short_Question_Text,Data_Value,Geolocation
0,AL,CLAY,Health Outcomes,Current Asthma,11.0,POINT (-85.8606604130173 33.2693085517833)
1,AL,DALE,Health Outcomes,Arthritis,35.6,POINT (-85.6109266826185 31.4316629601359)
2,AL,JACKSON,Health Outcomes,Stroke,5.1,POINT (-85.9995052603961 34.7796392771775)
4,AL,LAWRENCE,Disability,Any Disability,40.1,POINT (-87.3108851040374 34.5216735395968)
6,AL,LEE,Health Outcomes,Stroke,3.3,POINT (-85.3550362108983 32.601254498925)

In [55]:
fips_url = "https://raw.githubusercontent.com/kjhealy/fips-codes/master/state_and_county_fips_master.csv"
fips_df = pd.read_csv(fips_url)

In [56]:
fips_df.head()

   fips            name state
0     0   UNITED STATES   NaN
1  1000         ALABAMA   NaN
2  1001  Autauga County    AL
3  1003  Baldwin County    AL
4  1005  Barbour County    AL

In [57]:
fips_df = fips_df.dropna(subset=["state"])

In [58]:
fips_df["county_clean"] = (
    fips_df["name"]
    .str.replace(" County", "", regex=False)
    .str.upper()
    .str.strip()
)

In [59]:
fips_df

       fips               name state county_clean
2      1001     Autauga County    AL      AUTAUGA
3      1003     Baldwin County    AL      BALDWIN
4      1005     Barbour County    AL      BARBOUR
5      1007        Bibb County    AL         BIBB
6      1009      Blount County    AL       BLOUNT
...     ...                ...   ...          ...
3190  56037  Sweetwater County    WY   SWEETWATER
3191  56039       Teton County    WY        TETON
3192  56041       Uinta County    WY        UINTA
3193  56043    Washakie County    WY     WASHAKIE
3194  56045      Weston County    WY       WESTON

[3143 rows x 4 columns]

In [62]:
fips_df["FIPS"] = fips_df["fips"].astype(int).astype(str).str.zfill(5)

In [63]:
fips_df.head()

   fips            name state county_clean   FIPS
2  1001  Autauga County    AL      AUTAUGA  01001
3  1003  Baldwin County    AL      BALDWIN  01003
4  1005  Barbour County    AL      BARBOUR  01005
5  1007     Bibb County    AL         BIBB  01007
6  1009   Blount County    AL       BLOUNT  01009

In [65]:
fips_df["state"] = fips_df["state"].str.upper().str.strip()

In [66]:
places_df = places_df.merge(
    fips_df[["FIPS", "state", "county_clean"]],
    left_on=["StateAbbr", "LocationName"],
    right_on=["state", "county_clean"],
    how="left"
)

In [67]:
places_df.head()

,StateAbbr,LocationName,Category,Short_Question_Text,Data_Value,Geolocation,FIPS,state,county_clean
0,AL,CLAY,Health Outcomes,Current Asthma,11.0,POINT (-85.8606604130173 33.2693085517833),01027,AL,CLAY
1,AL,DALE,Health Outcomes,Arthritis,35.6,POINT (-85.6109266826185 31.4316629601359),01045,AL,DALE
2,AL,JACKSON,Health Outcomes,Stroke,5.1,POINT (-85.9995052603961 34.7796392771775),01071,AL,JACKSON
3,AL,LAWRENCE,Disability,Any Disability,40.1,POINT (-87.3108851040374 34.5216735395968),01079,AL,LAWRENCE
4,AL,LEE,Health Outcomes,Stroke,3.3,POINT (-85.3550362108983 32.601254498925),01081,AL,LEE

In [68]:
places_df = places_df.drop(columns=["state", "county_clean"])

In [69]:
places_df.head()

,StateAbbr,LocationName,Category,Short_Question_Text,Data_Value,Geolocation,FIPS
0,AL,CLAY,Health Outcomes,Current Asthma,11.0,POINT (-85.8606604130173 33.2693085517833),01027
1,AL,DALE,Health Outcomes,Arthritis,35.6,POINT (-85.6109266826185 31.4316629601359),01045
2,AL,JACKSON,Health Outcomes,Stroke,5.1,POINT (-85.9995052603961 34.7796392771775),01071
3,AL,LAWRENCE,Disability,Any Disability,40.1,POINT (-87.3108851040374 34.5216735395968),01079
4,AL,LEE,Health Outcomes,Stroke,3.3,POINT (-85.3550362108983 32.601254498925),01081

In [70]:
places_df.to_csv("places_cleaned.csv", index=False)

In [71]:
places_df

,StateAbbr,LocationName,Category,Short_Question_Text,Data_Value,Geolocation,FIPS
0,AL,CLAY,Health Outcomes,Current Asthma,11.0,POINT (-85.8606604130173 33.2693085517833),01027
1,AL,DALE,Health Outcomes,Arthritis,35.6,POINT (-85.6109266826185 31.4316629601359),01045
2,AL,JACKSON,Health Outcomes,Stroke,5.1,POINT (-85.9995052603961 34.7796392771775),01071
3,AL,LAWRENCE,Disability,Any Disability,40.1,POINT (-87.3108851040374 34.5216735395968),01079
4,AL,LEE,Health Outcomes,Stroke,3.3,POINT (-85.3550362108983 32.601254498925),01081
...,...,...,...,...,...,...,...
120438,WI,MANITOWOC,Health Outcomes,Diabetes,11.5,POINT (-87.8095945027193 44.1199592891552),55071
120439,WI,FOND DU LAC,Health Outcomes,Stroke,3.7,POINT (-88.4883433780916 43.7536089759286),55039
120440,WI,POLK,Health Outcomes,High Blood Pressure,34.3,POINT (-92.4412755945684 45.4615053795217),55095
120441,WI,MARATHON,Disability,Self-care Disability,3.2,POINT (-89.7588560093353 44.8983004431375),55073
120442,WY,FREMONT,Health Risk Behaviors,Binge Drinking,16.4,POINT (-108.630454608807 43.0406424027024),56013