In [2]:
import pandas as pd
import os

In [ ]:
# load the full Chronic Disease Indicators dataset
cdi_df_full = pd.read_csv(
    r"C:\Users\14122\OneDrive\Desktop\cvs_heath_project\data\raw\U.S._Chronic_Disease_Indicators_20251203.csv",
    dtype={"FIPS": str},
    encoding="latin1",
    low_memory=False
)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
16,2020,2020,ID,Idaho,NVSS,Diabetes,Diabetic ketoacidosis mortality among all peop...,NaN,Number,Number,...,DIA,DIA04,NaN,NMBR,AGE,AGE65P,NaN,NaN,NaN,NaN
102,2019,2019,DE,Delaware,BRFSS,Diabetes,Diabetes among adults,NaN,%,Crude Prevalence,...,DIA,DIA01,NaN,CRDPREV,AGE,AGE4564,NaN,NaN,NaN,NaN
103,2019,2019,DE,Delaware,PRAMS,Diabetes,Gestational diabetes among women with a recent...,NaN,%,Crude Prevalence,...,DIA,DIA02,NaN,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN
104,2019,2019,DE,Delaware,NVSS,Diabetes,"Diabetes mortality among all people, underlyin...",NaN,Number,Number,...,DIA,DIA03,NaN,NMBR,SEX,SEXF,NaN,NaN,NaN,NaN
122,2019,2019,GU,Guam,BRFSS,Diabetes,Diabetes among adults,NaN,%,Crude Prevalence,...,DIA,DIA01,NaN,CRDPREV,SEX,SEXF,NaN,NaN,NaN,NaN

In [ ]:
cdi_df_full.shape

(309215, 34)

In [ ]:
cdi_df_full["Topic"].unique()[:20]

array(['Health Status', 'Cancer', 'Diabetes', 'Sleep', 'Immunization',
       'Nutrition, Physical Activity, and Weight Status', 'Oral Health',
       'Arthritis', 'Asthma', 'Cardiovascular Disease', 'Disability',
       'Mental Health', 'Tobacco', 'Alcohol',
       'Chronic Obstructive Pulmonary Disease',
       'Social Determinants of Health', 'Cognitive Health and Caregiving',
       'Chronic Kidney Disease', 'Maternal Health'], dtype=object)

In [ ]:
diabetes_df = cdi_df_full[cdi_df_full["Topic"] == "Diabetes"] 
diabetes_df.shape

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (3537406928.py, line 1)

In [23]:


diabetes_df["DataValueType"].value_counts()

DataValueType
Number                     4056
Crude Rate                 4056
Crude Prevalence           3886
Age-adjusted Rate          3120
Age-adjusted Prevalence    2200
Name: count, dtype: int64

In [25]:
diabetes_df = diabetes_df[diabetes_df["DataValueType"] == "Crude Prevalence"]
diabetes_df.shape

(3886, 34)

In [27]:
diabetes_df.columns.tolist()

['YearStart',
 'YearEnd',
 'LocationAbbr',
 'LocationDesc',
 'DataSource',
 'Topic',
 'Question',
 'Response',
 'DataValueUnit',
 'DataValueType',
 'DataValue',
 'DataValueAlt',
 'DataValueFootnoteSymbol',
 'DataValueFootnote',
 'LowConfidenceLimit',
 'HighConfidenceLimit',
 'StratificationCategory1',
 'Stratification1',
 'StratificationCategory2',
 'Stratification2',
 'StratificationCategory3',
 'Stratification3',
 'Geolocation',
 'LocationID',
 'TopicID',
 'QuestionID',
 'ResponseID',
 'DataValueTypeID',
 'StratificationCategoryID1',
 'StratificationID1',
 'StratificationCategoryID2',
 'StratificationID2',
 'StratificationCategoryID3',
 'StratificationID3']

In [30]:
# Create a proper FIPS column from LocationID
diabetes_df["FIPS"] = diabetes_df["LocationID"].astype(str).str.zfill(5)

# Now filter to keep only valid county FIPS rows (5-digit codes)
diabetes_df = diabetes_df[diabetes_df["FIPS"].str.len() == 5]
diabetes_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,FIPS
102,2019,2019,DE,Delaware,BRFSS,Diabetes,Diabetes among adults,NaN,%,Crude Prevalence,...,DIA01,NaN,CRDPREV,AGE,AGE4564,NaN,NaN,NaN,NaN,00010
103,2019,2019,DE,Delaware,PRAMS,Diabetes,Gestational diabetes among women with a recent...,NaN,%,Crude Prevalence,...,DIA02,NaN,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN,00010
122,2019,2019,GU,Guam,BRFSS,Diabetes,Diabetes among adults,NaN,%,Crude Prevalence,...,DIA01,NaN,CRDPREV,SEX,SEXF,NaN,NaN,NaN,NaN,00066
150,2019,2019,IA,Iowa,PRAMS,Diabetes,Gestational diabetes among women with a recent...,NaN,%,Crude Prevalence,...,DIA02,NaN,CRDPREV,RACE,BLK,NaN,NaN,NaN,NaN,00019
289,2019,2019,PA,Pennsylvania,BRFSS,Diabetes,Diabetes among adults,NaN,%,Crude Prevalence,...,DIA01,NaN,CRDPREV,SEX,SEXM,NaN,NaN,NaN,NaN,00042

In [31]:
# Find the most recent year in the filtered dataset
latest_year = diabetes_df["YearStart"].max()
latest_year

np.int64(2022)

In [32]:
#using latest year - aka 2022
# keep only the latest year rows
diabetes_df = diabetes_df[diabetes_df["YearStart"] == latest_year]
diabetes_df.shape

(715, 35)

In [34]:
diabetes_clean = diabetes_df[[
    "FIPS",
    "LocationAbbr",
    "LocationDesc",
    "DataValue"
]].rename(columns={
    "LocationAbbr": "ST",
    "LocationDesc": "County",
    "DataValue": "DiabetesPct"
})

diabetes_clean.head()

         FIPS  ST      County DiabetesPct
939     00066  GU        Guam          47
261136  00004  AZ     Arizona        11.5
261212  00006  CA  California        13.6
261221  00002  AK      Alaska         8.7
261320  00001  AL     Alabama        28.6

In [35]:
output_path = r"C:\Users\14122\OneDrive\Desktop\cvs_heath_project\data\processed\diabetes_clean.csv"
diabetes_clean.to_csv(output_path, index=False)

output_path

'C:\\Users\\14122\\OneDrive\\Desktop\\cvs_heath_project\\data\\processed\\diabetes_clean.csv'