In [1]:
import pandas as pd

In [2]:
# load cleaned datasets
clinic = pd.read_csv(r"C:\Users\14122\OneDrive\Desktop\cvs_heath_project\data\processed\cvs_minute_clinics_cleaned.csv")
svi_places = pd.read_csv(r"C:\Users\14122\OneDrive\Desktop\cvs_heath_project\data\processed\svi_places_wide_cleaned.csv")

In [6]:
# ensure FIPS type matches
clinic['COUNTY'] = clinic['COUNTY'].astype(str).str.zfill(5)
svi_places['COUNTY'] = svi_places['fips'].astype(str).str.zfill(5)

In [7]:
final_df = clinic.merge(
    svi_places,
    on="COUNTY",
    how="left"
)

In [8]:
final_df.head()

,store_id,clinic_id,address,state_x,zip,latitude,longitude,COUNTY,fips,state_y,...,mobility_disability,obesity,physical_inactivity,self_care_disability,short_sleep_duration,social_isolation,stroke,transportation_barriers,utility_services_threat,vision_disability
0,10826,2278,1440 BROADWAY,NY,10018,40.7544,-73.9865,36061,36061.0,NY,...,12.4,20.9,20.8,3.4,35.9,NaN,3.1,NaN,NaN,5.4
1,2427,911,215 PARK AVENUE SOUTH,NY,10003,40.7369,-73.9885,36061,36061.0,NY,...,12.4,20.9,20.8,3.4,35.9,NaN,3.1,NaN,NaN,5.4
2,8968,2242,222 EAST 34TH STREET,NY,10016,40.7448,-73.9765,36061,36061.0,NY,...,12.4,20.9,20.8,3.4,35.9,NaN,3.1,NaN,NaN,5.4
3,11059,2491,"1619 BROADWAY, CORNER of WEST 49th STREET",NY,10019,40.7610,-73.9845,36061,36061.0,NY,...,12.4,20.9,20.8,3.4,35.9,NaN,3.1,NaN,NaN,5.4
4,10298,1821,241 WEST 57TH ST,NY,10019,40.7668,-73.9823,36061,36061.0,NY,...,12.4,20.9,20.8,3.4,35.9,NaN,3.1,NaN,NaN,5.4

In [9]:
clinic_counts = clinic.groupby("COUNTY").size().reset_index(name="clinic_count")
clinic_counts.head()

  COUNTY  clinic_count
0  04013            28
1  04019             8
2  04021             2
3  06001             3
4  06013             3

In [14]:
county_level_df = svi_places.merge(
    clinic_counts,
    on="COUNTY",
    how="left"
)

# fill counties with 0 clinics
county_level_df["clinic_count"] = county_level_df["clinic_count"].fillna(0)

In [16]:


county_level_df.head()

#lookup country 04013
county_level_df[county_level_df['COUNTY'] == '04013']

,fips,state,state_full,county_full,svi_overall,svi_socioeconomic,svi_household,svi_minority,svi_housing,all_teeth_lost,...,physical_inactivity,self_care_disability,short_sleep_duration,social_isolation,stroke,transportation_barriers,utility_services_threat,vision_disability,COUNTY,clinic_count
74,4013,AZ,Arizona,Maricopa County,0.713,0.6201,0.5705,0.8521,0.6907,14.0,...,22.5,3.5,34.4,33.9,3.2,8.8,7.1,5.4,04013,28.0

In [17]:
county_level_df.head()

,fips,state,state_full,county_full,svi_overall,svi_socioeconomic,svi_household,svi_minority,svi_housing,all_teeth_lost,...,physical_inactivity,self_care_disability,short_sleep_duration,social_isolation,stroke,transportation_barriers,utility_services_threat,vision_disability,COUNTY,clinic_count
0,1001,AL,Alabama,Autauga County,0.2663,0.2367,0.3675,0.6354,0.2358,11.3,...,26.9,3.7,37.3,33.4,3.7,7.9,8.1,4.9,01001,0.0
1,1003,AL,Alabama,Baldwin County,0.3487,0.3433,0.2883,0.4890,0.4308,10.9,...,25.4,3.3,34.8,29.6,3.7,6.7,6.3,4.6,01003,0.0
2,1005,AL,Alabama,Barbour County,0.9927,0.9399,0.9399,0.8941,0.9959,27.8,...,36.3,7.2,43.0,34.5,6.1,14.0,14.3,9.4,01005,0.0
3,1007,AL,Alabama,Bibb County,0.8451,0.8893,0.4954,0.6185,0.8931,21.4,...,32.9,5.4,40.6,35.1,4.6,11.6,11.6,7.1,01007,0.0
4,1009,AL,Alabama,Blount County,0.6166,0.6866,0.7884,0.4130,0.3532,16.1,...,31.0,4.7,36.5,35.0,4.3,9.5,8.5,6.3,01009,0.0

In [20]:
county_level_df.to_csv("CVS_FINAL_DATASET.csv", index=False)